---
import InstitutionCard from '../components/InstitutionCard.astro';
import { db, Institution } from 'astro:db';
const institutions = await db.select().from(Institution)
---

<div class="max-w-[960px] m-auto pt-5 ">
    <div class="w-full">
        <h1 class="text-black-100 text-4xl font-bold mb-2">Directorio del Estado de Guatemala</h1>
        <span class="text-black-50 text-base">Los correos de las oficinas de Información Pública a un click</span>
    </div>
    <div class="w-full">
        <input
            type="text"
            class="rounded bg-black-25 h-12 w-full p-4"
            placeholder="Busca por nombre o descripción"
        >
        {
            institutions.map(({ name, email }) => (
                <InstitutionCard name={name} email={ email} />
            ))
        }
    </div>
</div>